#box1{
    margin-left:none;
    border:3px solid  red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box2{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box3{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box4{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box5 {
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box6{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
#box7{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}
.main{
    margin-left:none;
    border:3px solid red;
    width:auto ;
    height:auto ;
    text-align:left ;
    padding:10px;
    align-items:baseline ;
    font-size: larger;
}